.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 3px;
  background-color: transparent;
  justify-content: stretch;
  flex: 1 1 auto;
  aspect-ratio: 1;
  min-width: 300px;
  max-width: 100vw;
  min-height: 300px;
}

.cell {
  border-radius: 3px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  aspect-ratio: 1;

  &:hover {
    background-color: lightgray;
  }

  &.selected {
    border-color: bisque;
  }
}
