@import 'Fonts';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
  font-family: $open-sans;
  background-color: #f7f4f0;
  font-size: 14px;
  line-height: 20px;
  display: flex;
}

ul, ol {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button, textarea {
  font-family: $open-sans;
}
